[global]
dll=D:\\OpenHardwareMonitor\\OpenHardwareMonitorLib.dll
mappings=[
        {
            "type": "Temperature",
            "name": "GPU Core",
            "key": "gpu_temperature"
        },
        {
            "type": "Load",
            "name": "CPU Total",
            "key": "cpu_load"
        },
        {
            "type": "Load",
            "name": "GPU Core",
            "key": "gpu_load"
        },
        {
            "type": "Temperature",
            "name": "CPU Package",
            "key": "cpu_temperature"
        }
    ]

linux_mappings=[
        {
            "type": "amdgpu",
            "name": "GPU Core",
            "key": "gpu_temperature"
        },
        {
            "type": "k10temp",
            "name": "CPU Package",
            "key": "cpu_temperature"
        },
        {
            "type": "nvme0",
            "name": "nvme",
            "key": "hdd1_temperature"
        },
        {
            "type": "sda",
            "name": "Exos 6",
            "key": "hdd2_temperature"
        },
        {
            "type": "sdb",
            "name": "WD 10",
            "key": "hdd3_temperature"
        }
    ]

fast_loop=7
slow_loop=10

[message]
node_name=pc-node
encoder=iot_message.cryptor.aes_sha1
encoder_params=abcdef2345678901,2345678901abcdef,0123456789abcdef,mypassphrase
ip=192.168.1.255
port=5053
